// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacing-top {
  padding-top: 3.5em;
}

.featurette-divider {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.navbar-nav > li {
  padding-left:2.5em;
  padding-right:2.5em;
}

.dropdown-menu > a:hover {
    background-color: red;
    background-image: none;
}
