// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacing-top {
  padding-top: 3.5em;
}

.featurette-divider {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

